@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 262 15% 20%;
    --card: 0 0% 100%;
    --card-foreground: 262 15% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 262 15% 20%;
    --primary: 262 52% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 50% 92%;
    --secondary-foreground: 262 52% 47%;
    --muted: 262 20% 88%;
    --muted-foreground: 262 15% 45%;
    --accent: 174 100% 29%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 20% 88%;
    --input: 262 30% 94%;
    --ring: 262 52% 47%;
    --chart-1: 262 52% 47%;
    --chart-2: 174 100% 29%;
    --chart-3: 262 70% 67%;
    --chart-4: 174 70% 49%;
    --chart-5: 262 90% 87%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 262 15% 10%;
    --foreground: 0 0% 98%;
    --card: 262 15% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 262 15% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 62% 57%;
    --primary-foreground: 262 15% 15%;
    --secondary: 262 15% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 262 15% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 174 90% 49%;
    --accent-foreground: 262 15% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 15% 25%;
    --input: 262 15% 25%;
    --ring: 262 62% 57%;
    --chart-1: 262 62% 57%;
    --chart-2: 174 90% 49%;
    --chart-3: 262 70% 77%;
    --chart-4: 174 70% 59%;
    --chart-5: 262 90% 97%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
